.cabecalho{
    display: grid;

    align-items: center;
    justify-content: center;

    gap: 12px;

    background-color: var(--surface-secondary);
}

.logo{
    display: flex;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
}

.pana{
    margin-bottom: 32px;
    img{
        height: 231px;
        width: 312px;
    }
}

@media screen and (min-width: 1200px) {
    .logo{
        img{
            width: 380px;
        }
    }
    .pana{
        img{
            height: 462px;
            width: 624px;  
        }
    }
}