*{
    margin: 0;
    padding: 0;
    font-family: var(--ff-poppins);
}

@media screen and (min-width: 1200px) {
  body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "formulario cabecalho";
    height: 100vh;
    .cabecalho{
        overflow: hidden;
    }
  }

}

.formulario-container{
    margin: 20px;
}
.formulario{
    margin: 20px;
    overflow-y: auto;
}

.btn-voltar{
    margin-top: 24px;
}
.voltar{
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    background-color: transparent;

    .btn-voltar-text{
        color: var(--text-secondary);
    }
}

.title{
    margin-bottom: 48px;
}

h1{
    font-size: 24px bold;
    color: var(--text-primary);
}

.subtitle{
    font-size: 16px;
    color: var(--text-secondary);
}

.informacoes{
    margin-bottom: 20px;
}
.matricula-container{
    margin: 20px;
}


/*sporte*/
