*{
    margin: 0;
    padding: 0;
    font-family: var(--ff-poppins);
}
.cabecalho{
    display: grid;

    align-items: center;
    justify-content: center;

    gap: 12px;

    background-color: var(--surface-secondary);
}

.logo{
    display: flex;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
}

.pana{
    margin-bottom: 32px;
    img{
        height: 231px;
        width: 312px;
    }
}

.formulario-container{
    margin: 20px;
}

.btn-voltar{
    margin-top: 24px;
}
.voltar{
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    background-color: transparent;

    .btn-voltar-text{
        color: var(--text-secondary);
    }
}

.title{
    margin-bottom: 48px;
}

h1{
    font-size: 24px bold;
    color: var(--text-primary);
}

.subtitle{
    font-size: 16px;
    color: var(--text-secondary);
}

.informacoes{
    margin-bottom: 20px;
}

.nome-completo,
.data-nascimento,
.sexo,
.informacoes-medicas,
.certidao,
.enviar-arquivo,
.cep,
.rua,
.numero,
.cidade,
.estado,
.nome-responsavel,
.telefone,
.email
{
    display: grid;
    margin-bottom: 12px;
    gap: 4px;

    color: var(--text-secondary);
    font-size: 14px;

    input{
        padding: 12px 16px;
        border-radius: 8px;
        border: 2px solid var(--stroke-default);
    }

    input:hover{
        border: 2px solid var(--stroke-highlight);
    }
}


.enviar-arquivo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img{
        height: 48px;
        width: 48px;
    }
}

.certidao {
  position: relative;
}

.enviar-arquivo {
  position: relative;
  border: 2px dashed var(--stroke-default);
  border-radius: 8px;
  padding: 32px;
  text-align: center;
  color: var(--text-secondary);
  cursor: pointer;
}

/* Faz o input ocupar toda a área, invisível */
.enviar-arquivo input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.enviar-arquivo:hover {
  background-color: var(--surface-disabled);
}

.opcoes{
    margin-bottom: 20px;
}

.turno-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;      
    
}

.turno-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin:16px 0 20px 0;
}

/* Esconde o botão de rádio padrão */
.turno-card input[type="radio"] {
  display: none;
}

/* Área do card */
.turno-card .conteudo {
  position: relative;
  width: 120px;
  height: 100px;
  border: 2px solid var(--stroke-default);
  border-radius: 12px;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: var(--text-primary);
}

/* Ícone central */
.turno-card img {
  width: 40px;
  margin: 10px 0;
}

/* Círculo de check no canto */
.icone-check {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--stroke-highlight);
  background-image: url(../assets/icons/check.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  
}

/* Quando selecionado */
.turno-card input[type="radio"]:checked + .conteudo {
  border-color: #ff6f3c;
  box-shadow: 0 0 0 4px rgba(255, 111, 60, 0.2);
}

.turno-card input[type="radio"]:checked + .conteudo .icone-check {
  opacity: 1;
}

/*sporte*/

.esporte-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Esconde o botão de rádio padrão */
.esporte-card input[type="radio"] {
  display: none;
}

/* Área do card */
.esporte-card .conteudo {
  position: relative;
  width: 120px;
  height: 100px;
  border: 2px solid var(--stroke-default);
  border-radius: 12px;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: var(--text-primary);
}

/* Ícone central */
.esporte-card img {
  width: 40px;
  margin: 10px 0;
}

/* Círculo de check no canto */
.icone-check {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--stroke-highlight);
  background-image: url(../assets/icons/check.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  
}

/* Quando selecionado */
.esporte-card input[type="radio"]:checked + .conteudo {
  border-color: #ff6f3c;
  box-shadow: 0 0 0 4px rgba(255, 111, 60, 0.2);
}

.esporte-card input[type="radio"]:checked + .conteudo .icone-check {
  opacity: 1;
}

.esporte-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-top: 16px;

    align-items: center;
    justify-content: center;
}