.nome-completo,
.data-nascimento,
.sexo,
.informacoes-medicas,
.certidao,
.enviar-arquivo,
.cep,
.rua,
.numero,
.cidade,
.estado,
.nome-responsavel,
.telefone,
.email
{
    display: grid;
    margin-bottom: 12px;
    gap: 4px;

    color: var(--text-secondary);
    font-size: 14px;

    input{
        padding: 12px 16px;
        border-radius: 8px;
        border: 2px solid var(--stroke-default);
        box-shadow: 3px solid transparent;
    }

    input:checked{
        border: 3px solid var(--text-highlight);
        box-shadow: 0 0 0 4px var(--surface-secondary);
    }

    input:hover{
        border: 3px solid var(--text-highlight);
        box-shadow: 0 0 0 4px var(--surface-secondary);
    }

    textarea:hover{
        border: 3px solid var(--text-highlight);
        box-shadow: 0 0 0 4px var(--surface-secondary);
    }
}

#sexo{
    padding: 12px 16px ;
    border-radius: 8px;
    border: 2px solid var(--stroke-default);

        border: 3px solid var(--text-highlight);
        box-shadow: 0 0 0 4px var(--surface-secondary);
}

.informacoes-medicas textarea{
    padding: 12px 16px ;
    border-radius: 8px;
    border: 2px solid var(--stroke-default);
}