.opcoes{
    margin-bottom: 20px;
}

.turno-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;      
    
}

.turno-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin:16px 0 20px 0;
}

/* Esconde o botão de rádio padrão */
.turno-card input[type="radio"] {
  display: none;
}

/* Área do card */
.turno-card .conteudo {
  position: relative;
  width: 120px;
  height: 100px;
  border: 2px solid var(--stroke-default);
  border-radius: 12px;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: var(--text-primary);
}

/* Ícone central */
.turno-card img {
  width: 40px;
  margin: 10px 0;
}

/* Círculo de check no canto */
.icone-check {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--stroke-highlight);
  background-image: url(../assets/icons/check.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  
}

.turno-card input[type="radio"]:checked + .conteudo {
    border: 3px solid var(--text-highlight);
    box-shadow: 0 0 0 4px var(--surface-secondary);
}

.turno-card input[type="radio"]:checked + .conteudo .icone-check {
  opacity: 1;
}

@media screen and (min-width: 1200px) {
    .turno-card .conteudo{
        width: 200px;
        height: 100px;
    }
}